<!DOCTYPE html>
<html>
  
<head>
    <title>Employee Management System</title>
</head>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
  
    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
  
    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
  
<body>
    <h2>Employee Management System</h2>
    <table>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>City</th>
          
        </tr>
        <% data.forEach(element => { %>
        <tr>
          <td><%= element.employeeId %></td>
          <td><%= element.employeeName %></td>
          <td><%= element.employeeCity %></td>
        </tr>
        <% }) %>
  </table>
  <h2>Employee Management System</h2>
    
  
    <h2>Add Employee</h2>
  
    <form action="/" method="post">
        <input type="text" placeholder="Employee id" 
            name="employeeId">
        <input type="text" placeholder="Employee name" 
            name="name">
        <input type="text" placeholder="Employee city" 
            name="city">
        <button type="submit">Submit</button>
    </form>
    <h2>Update Employee</h2>
  
    <form action="/update" method="post">
        <input type="text" placeholder="Employee id" 
            name="employeeId">
        <input type="text" placeholder="Employee name" 
            name="name">
        <input type="text" placeholder="Employee city" 
            name="city">
        <button type="submit">Submit</button>
    </form>
    <h2>Delete Employee</h2>
  
    <form action="/delete" method="post">
        <input type="text" placeholder="Employee id" 
            name="employeeId">
        <input type="text" placeholder="Employee name" 
            name="name">
        <input type="text" placeholder="Employee city" 
            name="city">
        <button type="submit">Submit</button>
    </form>

</body>
  
</html>